node_modules/
**/node_modules/
*.log
.DS_Store
.npm/
pnpm-lock.yaml
yarn.lock
package-lock.json
npm-debug.log*
next-env.d.ts
.next/
out/
build/
dist/
.expo/
.expo-shared/
sg-api/.next/
sg-api/out/
sg-mobile/.expo/
sg-mobile/.expo-shared/
sg-mobile/build/
coverage/
docs/
.turbo